body{
    background-color: #2A2C2F;
    font-family: "Inter", "Arial", sans-serif;
    color: white;
    padding: 0;
    margin: 0;
}

.header{
    max-width: 1184px;
    height: 52px;
    margin: 28px auto 56px;
    display: flex;
    align-items: end;

}

.header_logo{
    margin-right: auto;
}

.header_language_link{
    color: white;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-decoration-line: none;
}

.header_language_link:not(:last-child){
    margin-right: 18px;
}

.header_language_link:active{
    text-decoration-line: underline;
}

.lead{
    max-width: 984px;
    margin: 0 auto 92px;
    padding: 0;
}

.lead_image{
    max-width: 984px;
}

.lead_header{
    margin: 0 auto 32px;
    text-align: center;
    font-size: 96px;
    font-style: normal;
    font-weight: 900;
    line-height: 100px;
    max-width: 720px;
}

.lead_subtitle{
    margin: 0 auto 64px;
    text-align: center;
    max-width: 640px;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

.lead_image_capture{
    margin:0;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.intro_block{
    max-width: 984px;
    margin: 0 auto 92px;
}

.intro{
    max-width: 690px;
    margin: 0;
    margin-right: auto;
}

.intro_title{
    margin: 0;
    font-size: 54px;
    font-style: normal;
    font-weight: 900;
    line-height: 58px;
}

.intro_text{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 163%;
}

.intro_list{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    line-height: 18px;
}

.intro_list_span{
    font-weight: 700;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
    width: calc(100vw - 96px);
    max-width: 1184px;
    margin: 0 auto 92px;
    padding: 0;

}

.gallery_item{
    object-fit: contain;
    padding: 0;
    margin: 0;
    width: 100%;
}

.places{
    margin: 0 auto 92px;
    max-width: 984px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.places_item{
    margin:0 ;
    display: flex;
    max-width: 984px;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 48px;
    column-gap: 40px;
    
}

.places_web{
    align-self: flex-end;
    margin-right: auto;
}
.places_item_note{
    margin: 0;
    padding: 0;
    margin-bottom: 12px;
    color: #AAA;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 2px;
}

.places_item_link{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-decoration-line: underline;
    transition: opacity 0.3s ease-in;
}

.places_item_link:hover{
    opacity: 0.800000011920929;
}

.places_item_photo{
    max-width: 460px;
    max-height: 460px;
    margin: 0;
    padding: 0;
    
}

.places_item_title{
    margin: 0;
    padding: 0;
    width: 460px;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 76px;
}

.places_item_paragraph{
    margin: 0;
    padding: 0;
    max-width: 484px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 163%;
}

.cover{
    max-width: 1184px;
    margin: 0 auto 92px;
    position: relative;
    cursor: pointer;
}

.cover_text{
    max-width: 560px;
    max-height: 250px;
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
}

.cover_text_title{
    margin: 0;
    padding: 0;
    margin-bottom: 32px;
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 76px;
    max-width: 560px;
}

.cover_text_subtitle{
    max-width: 360px;
    margin: 0 auto;
    padding: 0;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}


.cover_image{
    max-width: 1184px;
}

.cover::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2A2C2F;
    opacity: 0.30000001192092896;
    z-index: 1;
    transition: opacity 0.2s ease-in-out;
  
}

.cover:hover::before{
    opacity: 0.800000011920929; 

}

.footer{
    max-width: 1184px;
    margin: 0 auto 24px;
    display: flex;
    justify-content: space-between;
}

.footer_links{
    list-style: none;
    margin: 0;
    padding: 0;
    align-self: baseline;
}

.footer_links li{
    display: inline;
}

.footer_link{
    margin:0;
    margin-right: 18px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
}

.footer_policy_rights{
    margin: 0;
    padding: 0;
    align-self: baseline;
}

.footer_policy_author{
    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.footer_link:hover{
    opacity: 0.800000011920929;
}

/* Для экрана 1024*/
@media screen and (max-width: 1024px){
    .header{
        max-width: 928px;
    }
    .lead{
        max-width: 928px;
    }
    .lead_image{
        max-width: 928px;
    }
    .intro{
        max-width: 690px;
        margin: 0 auto 92px 48px;
    
    }
    .places{
        max-width: 928px;

    }
    
    .places_item{
        max-width: 928px;
        row-gap: 48px;
        column-gap: 32px;
        
    }
    .places_item_photo{
        max-width: 440px;
        height: 100%;
    }
    .places_item_title{
        width: 440px;
    }
    .places_item_paragraph{
        max-width: 456px;
        font-size: 18px;
    }
    
    .cover{
        display: block;
        width: 100vmin;
        padding: 0;
        margin: 0 0 92px 0;
        ищс

    }

    .cover_image{
        max-width: 100%;
        margin: 0;
        padding: 0;
        
    }

    .footer{
        max-width: 928px;
        margin: 0 auto 24px;

    }

}

@media screen (max-width: 920px) and (min-width: 1024px){
    .places_item_paragraph{
        font-size: 16px;
        width: 10%;
    }
    .places_item{
        column-gap: 28px;
    }
}

/* Для экрана 768*/
@media screen and (max-width: 768px){
    .header{
        max-width: 720px;
    }
    .header_logo{
        margin-right: auto;
        max-width: 142px;
    }

    
    .header_language_link{

        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        align-self: center;
    }

    .lead{
        max-width: 768px;
    }
    .lead_image{
        max-width: 768px;
    }
    .lead_image_capture{
        margin-left:24px;
    }

    .lead_header{
        font-size: 13vw;
        line-height: 1;
    }

    .lead_subtitle{
        font-size: 4vw;
        line-height: 1;
    }

    .intro{
        max-width: 720px;
        margin: 0 auto 92px;
    
    }
    .places{
        max-width: 720px;
        gap: 72px;
    }
    .places_item{
        max-width: 720px;
        row-gap: 48px;
        column-gap: 28px;
        
    }
    .places_item_photo{
        max-width: 340px;
        max-height: 340px;
    }
    .places_item_title{
        width: 340px;
        font-size: 42px;
        font-style: normal;
        font-weight: 900;
        line-height: 46px;

    }
    .places_item_paragraph{
        max-width: 352px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 163%;
    }
    
    .cover{
        display: block;
        width: 100vmin;
        padding: 0;
        margin: 0 0 92px 0;
    }

    .cover_image{
        max-width: 100%;
        margin: 0;
        padding: 0;
    }

    .footer{
        max-width: 720px;
        margin: 0 auto 24px;
    }
}

/* For phones 320px screen*/
@media screen and (max-width: 320px){
    .header{
        max-width: 288px;
    }
    .lead{
        max-width: 320px;
    }
    .lead_image{
        max-width: 320px;
    }
    .lead_image_capture{
        margin-left:16px;
        font-size: 10px;
    }

    .lead_header{
        font-size: 40px;
        font-style: normal;
        font-weight: 900;
        line-height: 44px;
        margin-bottom: 16px;

    }
    .lead_subtitle{
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 40px;

    }

    .intro{
        max-width: 288px;
        margin: 0 auto 92px;
    
    }

    .intro_title{
        font-size: 32px;
        font-style: normal;
        font-weight: 900;
        line-height: 35px;  
    }

    .intro_text{
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 163%;
    }

    .gallery{
        display: grid;
        min-width: 288px;
        grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
        gap: 12px;
        margin: 0 auto 92px;
        padding: 0;
    
    }
    
    .gallery_item{
        object-fit: contain;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .places{
        min-width: 320px;
        gap: 50px;
    }
    .places_item{
        min-width: 320px;
        row-gap: 32px;
        
    }
    .places_item_photo{
        min-width: 320px;
        max-width: 340px;
        min-height: 320px;
        max-height: 340px;
    }
    .places_item_title{
        width: 288px;
        margin: 0 auto;
        font-size: 32px;
        font-style: normal;
        font-weight: 900;
        line-height: 35px;
    }
    .places_web{
        min-width: 288px;
        margin: 0 auto;
    }
    .places_item_paragraph{
        width: 288px;
        margin: 0 auto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 163%;
    }
    
    .cover{
        display: block;
        width: 100vmin;
        padding: 0;
        margin: 0 0 92px 0;
    }

    .cover_image{
        max-width: 100%;
        margin: 0;
        padding: 0;
    }
    .cover_text{
        min-width: 288px;
        max-height: 134px;
    }

    .cover_text_title{
        font-size: 32px;
        font-style: normal;
        font-weight: 900;
        line-height: 35px;
        margin-bottom: 16px;
    }

    .cover_text_subtitle{
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
    }

    .footer{
        max-width: 186px;
        margin: 0 auto 24px 16px;
        flex-direction: column;
    }
    .footer_links{
        list-style: none;
        margin: 0;
        margin-bottom: 48px;
        padding: 0;
        align-self: baseline;
    }
    
    .footer_links li{
        display: block;
        margin-bottom: 32px;
    }
    
    .footer_link{
        margin:0;
        color: #FFF;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        transition: opacity 0.3s ease-in-out;
        cursor: pointer;
    }
    
    .footer_policy_rights{
        margin: 0;
        padding: 0;
        align-self: baseline;
    }
    
    .footer_policy_author{
        margin: 0;
        color: #FFF;
        text-align: right;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
    }
}